{% raw %}{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endraw %}{{ cookiecutter.project_name }}{% raw %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <!-- Your stuff: Third-party css libraries go here -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock css %}
  </head>
  <body>
    <a href="{% url 'home' %}">{% endraw %}{{ cookiecutter.project_name }}{% raw %}</a>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>

      {% if request.user.is_authenticated %}
        <li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
        <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
      {% else %}
        <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
        <li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
      {% endif %}
    </ul>
    {% if messages %}
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
    {% endif %}

    {% block content %}
      <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/project.min.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
{% endraw %}
